* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-white: #ffffff;
  --cor-yellow: #ffff00;
  --cor-footer: #65716d;
  --cor-black: #000000;
}
body {
  background-color: #6a7b75;
  font-family: "Roboto", sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  background-color: var(--cor-footer);
  color: var(--cor-white);
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#campinho {
  display: flex;
  align-items: center;
  justify-content: center;
}

#campinho img {
  height: 52rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--cor-white);
  text-align: center;
  margin-bottom: 1rem;
}
#inputs {
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor-footer);
  border-radius: 8px;
  width: 24rem;
  height: 34rem;
  text-align: center;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  border-radius: 8px;
  width: 100%;
  height: 2.5rem;
  color: var(--cor-black);
  font-size: 20px;
  padding: 0.5rem;
  background-color: aliceblue;
  text-align: center;
}

label {
  color: var(--cor-white);
  font-size: 20px;
  padding: 1rem;
}
.add {
  display: flex;
  justify-content: start;
  padding: 0.5rem;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: 0.1s;
}

.btn-add button {
  width: 6rem;
  height: 2rem;
  background-color: rgb(50, 168, 82);
  border-radius: 8px;
  color: var(--cor-white);
  border: none;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.btn-add :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--cor-footer);
  color: var(--cor-white);
  width: 100%;
}

.footer span:first-child {
  color: var(--cor-yellow);
}
.footer span:last-child {
  color: var(--cor-white);
}

.logo-footer {
  font-family: "Tektur", sans-serif;
  font-size: 1rem;
  background-color: var(--cor-footer);
  text-decoration: none;
}

.footer a {
  background-color: var(--cor-footer);
}
.footer img {
  background-color: var(--cor-footer);
}
.footer p {
  background-color: var(--cor-footer);
}

.links-footer {
  display: flex;
  align-items: center;
  width: 6rem;
  justify-content: space-around;
}
