* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-white: #ffffff;
  --cor-yellow: #ffff00;
  --cor-footer: #65716d;
  --cor-black: #000000;
}
body {
  background-color: #6a7b75;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--cor-footer);
  color: var(--cor-white);
  position: fixed;
  width: 100%;
  gap: 2rem;
}

h1 {
  color: var(--cor-white);
  text-align: center;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
label {
  color: var(--cor-white);
  font-size: 12px;
  padding: 1rem;
}
.input {
  border: none;
  outline: none;
  border-radius: 8px;

  height: 2.5rem;
  color: var(--cor-black);
  padding: 0.5rem;
  background-color: aliceblue;
  text-align: center;
}
#resetButton {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 6px;
  border: none;
  margin-left: 0.5rem;
  color: var(--cor-white);
  background-color: rgb(255, 165, 0);
  transition: 0.5s;
}
#resetButton:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgb(226, 150, 11);
}

.addButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#campinho img {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addJogador:hover {
  transform: scale(1.2);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--cor-footer);
  color: var(--cor-white);
  width: 100%;
}

.footer span:first-child {
  color: var(--cor-yellow);
}
.footer span:last-child {
  color: var(--cor-white);
}

.logo-footer {
  font-family: "Tektur", sans-serif;
  font-size: 1rem;
  background-color: var(--cor-footer);
  text-decoration: none;
}
.links-footer {
  display: flex;
  align-items: center;
  width: 6rem;
  justify-content: space-around;
}
